#root {
  width: 100%;
}

/* Styles pour les transitions des drawers */
.MuiDrawer-root .MuiDrawer-paper {
  transition: transform 225ms cubic-bezier(0.0, 0.0, 0.2, 1) !important;
}

.MuiDrawer-root.MuiDrawer-paper {
  box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
}

.MuiDrawer-root.MuiModal-root .MuiBackdrop-root {
  opacity: 0 !important;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.MuiDrawer-root.MuiModal-root.MuiDrawer-open .MuiBackdrop-root {
  opacity: 0.5 !important;
}

.social-icon {
  color: inherit; /* Hérite de la couleur du texte */
  transition: transform 0.3s, color 0.3s;
}

.social-icon:hover {
  transform: scale(1.2); /* Agrandit l'icône */
  color: #007bff; /* Change la couleur au survol */
}

/* app.css */
.medal-container {
  gap: 10px;
}

.medal {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #ddd;
  color: white;
  background-color: black; /* Fond noir par défaut */
  transition: background-color 0.3s; /* Transition douce pour le changement de couleur */
}

.medal-gold.active {
  background-color: #ffd700;
}

.medal-silver.active {
  background-color: #868992;
}

.medal-bronze.active {
  background-color: #775e39;
}

.medal-container-div {
  display: flex;
}

.medal-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}
.medal-circle-compteur {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 85px;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  margin-right: 5px;
  line-height: 0;
}

.filtre-medaille {
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
  font-size: 30px;
}
.marker-cluster div {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif ! important;
}

.droite-liste {
  width: 50%;
  height: 100vh;
  overflow: scroll;
}

.droite-liste.full-width {
  width: 100%;
}

.liste-sportif {
  padding: 0;
  list-style: none;
}

.liste-sportif li {
  color: #ffffff;
  font-weight: 300;
}
.liste-sportif li:hover {
  text-decoration: underline;
}

.medal-circle-gold {
  background-color: #ffd700;
}

.medal-circle-silver {
  background-color: #868992;
}

.medal-circle-bronze {
  background-color: #775e39; /* Couleur bronze */
}

.button-filtre {
  position: absolute;
  top: 20px;
  z-index: 999;
  padding: 5px 10px;
  right: 20px;
}

.button-home {
  position: absolute;
  top: 20px;
  padding: 5px 10px;
  z-index: 999;
  right: 70px;
}
.button-info {
   position: absolute;
  top: 20px;
  padding: 5px 10px;
  z-index: 999;
  right: 120px; 
}
.la-liste {
  background-color: #000000;
  width: 100%;
}
.gauche-liste {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloc-medaille {
  display: flex;
  justify-content: space-between;
}

.total-medaille {
  color: #ffffff;
  font-size: 66px;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
}

.intro-droite {
  color: #ffffff;
}

.titre-droite {
  color: #ffffff;
}

.bloc-medaille {
  display: flex;
}

.bloc-medaille p {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 40px;
  max-width: 250px;
  width: 250px;
  line-height: 114%;
}

.bloc-medaille-div {
  display: flex;
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}

.bloc-medaille-div-annee {
  color: #ffffff;
  padding-right: 20px;
}

.filter-button {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px 5px;
  margin: 4px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

.filter-button.active {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.filter-button:hover {
  background-color: #ffd700;
  border-color: #000000;
}

.marker-cluster-large,
.marker-cluster-medium,
.marker-cluster-small {
background-color: rgba(0, 0, 0, 0.6) ! important;
}

.marker-cluster-large div,
.marker-cluster-medium div,
.marker-cluster-small div {
background-color: rgba(0, 0, 0, 0.6) ! important;
}

.ouvertureSite {
  background-color: #000000;
  display: block;
}

.ouvertureSite .MuiPaper-root {
  margin: unset ! important;
  height: auto ! important;
  margin: unset ! important;
  width: 100% ! important;
  background-color: unset ! important;
  height: auto ! important;
  max-width: unset ! important;
}

.ouvertureSite .MuiPaper-root h1 {
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
}

.le-choix {
  display: flex;
  justify-content: center;
}

.le-choix div {
  background-color: #ffffff;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  padding: 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.le-choix div:hover {
  background-color: #000000;
  color: #ffffff;
}

.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px ! important;
  height: 25px ! important;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 14px;
  font-weight: bold;
}

.marker-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.popUpCarte h3 {
  font-size: 14px ! important;
  margin: 0 ! important;
  padding-bottom: 10px;
}

.popUpCarte ul {
  margin-top: 0;
}
.popUpCarte ul li {
  font-size: 12px;
  padding-bottom: 5px;
  margin: 0 ! important;
}

.footer {
background-color: #ffffff;
padding-top: 10px;
padding-bottom: 10px;
position: fixed;
bottom:0;
width: 100%;
z-index: 99999;
display:flex;
justify-content: space-between;
align-items: center;
}

.footer p {
  margin: 0;
}

.footerRS {
  padding-left: 15px;
  display: flex;
}
.footerRS a {
  line-height: 1;
}

.footerRS svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.footerRS svg path {
  stroke-width: 2px;
}

.copyright {
  padding-right: 20px;
  display: flex;
}

.copyright p,
.copyright a {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}
.copyright a {
  color: #000000;
  padding-right: 10px;
  text-decoration: none;
}

.custom-marker-kayak .material-icons,
.custom-marker-hand .material-icons {
  font-size: 20px ! important;
  color: #000000;
}

/* Media Queries pour rendre le site responsive */

/* Pour les tablettes (768px à 1024px) */
@media screen and (max-width: 992px) {
  
.ouvertureSite .MuiPaper-root h1 {
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  font-size: 35px;
  margin-bottom: 60px;
}

.le-choix div {
  padding:12px;
  font-size: 20px;
}
.drawer-filter {
  width: 100% ! important;
  padding: 0 ! important;
}
.drawer-filter h2,
.drawer-filter div {
  padding-left: 20px;
  padding-right: 20px;
}
.medal-container-div {
  padding: 0 ! important;
}

.medal-container-div div {
  padding: 0;
}

.div-not-flex {
  display: block ! important;
}
.gauche-liste {
  width: 100% ! important;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}


.total-medaille {
  color: #ffffff;
  font-size: 50px;
  margin:0;
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 100%;
}
.medal-circle-compteur {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius:50%;
  font-size: 40px;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  margin-right: 5px;
  line-height: 0;
}

.droite-liste {
  width: 100% !important;

  height: auto;
  overflow:scroll;
  min-height: 100vh;
}
.bloc-medaille p {
margin:0;
    font-family: 'Barlow Condensed', sans-serif;
font-size: 20px;
    max-width: 120px;
    width: 120px;
    line-height: 114%;
}
.liste-sportif {
  margin-top: 0;
}
.liste-sportif li {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
}
.bloc-medaille-div-annee {
  margin-top: 0;
}
.bloc-medaille-div {
  display: flex;
  border-bottom:1px solid #fff;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
}